<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MovieFinderApp{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rowdies:wght@300;400;700&family=Viaoda+Libre&display=swap"
        rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
            <nav class="navbar-content navbar navbar-expand-lg custom-navbar fixed-top">
            <div class="container">
                <a class="d-flex logo-font align-items-center navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logocinema1.png' %}" alt="Logo"
                        style="width: 34px; height: 34px; margin-right: 8px;">
                    MovieFinderApp
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="link-fontcollapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="link-font nav-link">#</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-font nav-link">#</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="custom-footer text-center">
        <div class="container">
            <p>&copy; 2024 MovieFinderApp</p>
        </div>
    </footer>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/movie-search.js' %}"></script>
</body>

</html>