{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="poster w-100" style="position: relative;">
    <img src="{% static 'images/poster.png' %}" alt="Poster" class="img-fluid" style="width: 100%; opacity: 0.94;">

    <div class="text-overlay"
        style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center;">
        <div class="title-container" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            <img src="{% static 'images/pocornart.png' %}" class="popcornimg" alt="Popcorn Left"
                style="width: 80px; height: auto;">
            <h1>MovieFinder</h1>
            <img src="{% static 'images/pocornart.png' %}" class="popcornimg" alt="Popcorn Right"
                style="width: 80px; height: auto;">
        </div>
        <p>The project is created similar to <span class="i-span">IMDb</span> and is developed using <span
                class="d-span">Django</span> and <span class="f-span">Frontend</span> technologies.</p>
    </div>
</div>

<div class="container text-center my-4">
    <a href="#movie-search-form" class="btn btn-link-search scroll-button">Search Movies</a>
</div>

<div class="container col-md-12 mt-4">
    <div class="row justify-content-center link-urls mb-4">

        <div class="col-md-4 mb-4 content-urls">
            <a href="https://www.imdb.com" target="_blank" class="btn btn-link-url d-flex align-items-center">
                IMDb
                <img src="/static/images/arrowstyle.png" alt="Arrow Style" class="arrow-icon" style="display: none;">
            </a>
            <p class="mt-2">
                <span class="bold-text">IMDb (Internet Movie Database)</span> — the largest database of movies, TV
                shows, and actors.
            </p>
        </div>

        <div class=" col-md-4 mb-4 content-urls">
            <a href="https://www.omdbapi.com/" target="_blank" class="btn btn-link-url">
                OMDb API
                <img src="/static/images/arrowstyle.png" alt="Arrow Style" class="arrow-icon" style="display: none;">
            </a>
            <p class="mt-2">
                <span class="bold-text">OMDb API</span> — an unofficial open API for retrieving data about movies and TV
                shows, including information
                from IMDb.
            </p>
        </div>

        <div class="col-md-4 mb-4 content-urls">
            <a href="https://www.themoviedb.org/?language=en-US" target="_blank" class="btn btn-link-url">
                TMDb API
                <img src="/static/images/arrowstyle.png" alt="Arrow Style" class="arrow-icon" style="display: none;">
            </a>
            <p class="mt-2">
                <span class="bold-text">TMDb API</span> — is a popular online database providing movies, TV shows, and
                actor information.
            </p>
        </div>
    </div>

 <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{% static 'images/penguinlogoposter.png' %}"
                 alt="The Penguin Poster"
                 class="img-fluid"
                 style="max-width:100%; height: auto;">
        </div>

        <div class="col-md-6">
            <div class="ratio ratio-4x3">
                <iframe src="https://player.vimeo.com/video/1014531448"
                        title="Трейлер 'Пингвина'"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture;"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>

    <div class="container mt-5 col-md-12">
        <div class="row justify-content-center gx-1 gy-1 p-0" id="actors-container">

        </div>
    </div>

    <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" id="random-movie-info">
            <div id="spinner-container">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="info-search col-md-8">
            <div class="camera-movie text-center mb-3">
                <img src="{% static 'images/clapperboard.gif' %}" alt="Movie Camera" class="img-fluid"
                    style="width: 200px; height: 200px; border-radius: 30px; opacity: 0.8;">
            </div>
            <form id="movie-search-form" class="my-3">
                <div class="input-group input-custom-width">
                    <input type="text" id="query" name="query" class="form-control input-radius"
                        placeholder="Enter movie title" required>
                    <div class="input-group-append ms-2">
                        <button type="submit" class="btn btn-custom">Search</button>
                    </div>
                </div>
            </form>
            <div id="movie-info" class="mt-4"></div>
        </div>
    </div>
</div>

{% endblock %}