{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="poster w-100" style="position: relative;">
    <img src="{% static 'images/poster.png' %}" alt="Poster" class="img-fluid" style="width: 100%; opacity: 0.84;">
    <div class="text-overlay" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center;">
        <h1>MovieFinder</h1>
        <p>The project utilizes the IMDB API and is developed using Django and frontend technologies.</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="info-search col-md-6">
            <div class="camera-movie text-center mb-3">
                <img src="{% static 'images/moviecamera.gif' %}" alt="Movie Camera" class="img-fluid"
                     style="width: 260px; height: 170px; border-radius: 30px; opacity: 0.8;">
            </div>
            <form id="movie-search-form" class="my-3">
                <div class="input-group">
                    <input type="text" id="query" name="query" class="form-control input-radius" placeholder="Enter movie title" required>
                    <div class="input-group-append ms-2">
                        <button type="submit" class="btn btn-custom">Search</button>
                    </div>
                </div>
            </form>
            <div id="movie-info" class="mt-4"></div>
        </div>
    </div>
</div>
{% endblock %}