.info-search {
    margin-top: 7vh;
}

body {
    background-color: rgb(255, 255, 255);
}

.custom-navbar {
    border-bottom: 2px solid rgb(150, 150, 150);
}

.custom-navbar .logo-font {
    color: white;
    transition: all 0.3s ease-in-out;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.custom-navbar .logo-font:hover {
    color: rgb(254, 212, 115);
    -webkit-text-stroke: 0.3px white;
}

.custom-footer p {
    font-weight: 400;
    color: white;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.custom-navbar,
.custom-footer {
    background-color: rgb(48, 48, 48);
}

.custom-footer {
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 2px solid rgb(150, 150, 150);

}

.custom-footer p {
    margin-top: 11px;
}

main {
    border-left: 1px solid rgb(150, 150, 150);
    border-right: 1px solid rgb(150, 150, 150);
    padding-left: 11px;
    padding-right: 11px;
}

.link-font {
    font-family: "Viaoda Libre", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    transition: ease-in-out 0.3s all;
}

.link-font:hover {
    color: rgb(254, 212, 115);
}

.camera-movie img {
    border: 3px solid rgb(199, 199, 199);
}

.form-control:focus {
    /* border-color: rgb(254, 212, 115); */
    border-color: rgb(255, 255, 255);
    /* box-shadow: 0 0 0 0.2rem rgba(254, 212, 115, 0.665); */
    box-shadow: 0 0 0 0.2rem rgba(209, 209, 209, 0.665); 
    outline: none;
}

.btn-custom {
    background-color: rgb(138, 138, 138); 
    color: white; 
    border: none; 
    border-radius: 5px; 
}

.btn-custom:hover {
    /* background-color: rgb(251, 189, 42);  */
    background-color: rgb(113, 158, 78); 
    color: #fff;
}

.input-radius {
    border-radius: 14px; /* Скругление углов */
}