<!-- 
/finder-movie-api/finder_movie/accounts/templates/accounts/login.html

Описание:
Этот шаблон используется для отображения страницы входа в систему. Он расширяет базовый шаблон 'base.html' и загружает статические файлы и теги форм.

Блоки:
- body_class: Устанавливает класс страницы как 'login-page'.
- title: Устанавливает заголовок страницы как 'Login'.
- content: Основное содержимое страницы, включающее форму входа.

Форма входа:
- Использует метод POST для отправки данных.
- Включает токен CSRF для защиты от подделки межсайтовых запросов.
- Поля формы:
    - username: Поле для ввода имени пользователя с классом 'form-control'.
    - password: Поле для ввода пароля с классом 'form-control'.
- Кнопка отправки формы с текстом 'Go' и классом 'btn btn-auth'.

Дополнительная информация:
- Ссылка для перехода на страницу регистрации, если у пользователя нет учетной записи.
-->
{% extends 'base.html' %}

{% load static %}

{% block body_class %}login-page{% endblock %}

{% load form_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container mt-5 container-auth w-75">
        <h2 id="auth-h2" class="text-center login-h2">Sign in</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 login-container">
                <form id="signup-form" method="POST" class="p-4 shadow-sm form-auth-login">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        {{ form.username|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        {{ form.password|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-auth mt-3 w-100">Go</button>
                </form>
                <div class="text-center mt-3 info-auth-p">
                    <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}