{% extends 'base.html' %}

{% load static %}

{% block body_class %}login-page{% endblock %}

{% load form_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container mt-5 container-auth">
        <h2 class="text-center auth-h2">Sign in</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 login-container">
                <form id="signup-form" method="POST" class="p-4 shadow-sm form-auth">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        {{ form.username|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        {{ form.password|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-auth w-100">Go</button>
                </form>
                <div class="text-center mt-3 info-auth-p">
                    <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}