<!-- 
/finder-movie-api/finder_movie/accounts/templates/accounts/profile.html

Описание:
Этот шаблон отображает профиль пользователя, включая его аватар, имя пользователя, дату рождения, местоположение и список любимых фильмов.

Шаблон расширяет базовый шаблон 'base.html' и использует теги 'static' и 'form_tags'.

Блоки:
1. title: Заголовок страницы - "User Profile".
2. content: Основное содержимое страницы.

Содержимое:
- Контейнер с информацией о профиле пользователя:
    - Аватар пользователя (если не задан, используется аватар по умолчанию).
    - Имя пользователя.
    - Дата рождения (если не указана, отображается "Not provided").
    - Местоположение (если не указано, отображается "Not provided").
    - Ссылка на редактирование профиля.

- Контейнер с любимыми фильмами пользователя:
    - Заголовок "Favorite Movies".
    - Список фильмов (если нет любимых фильмов, отображается сообщение "No favorite movies added yet").
    - Для каждого фильма отображается:
        - Название фильма и год выпуска.
        - Постер фильма с ссылкой на страницу фильма.
        - Жанр, актеры и сюжет фильма.
        - Рейтинг IMDb с иконкой звезды.
-->
{% extends 'base.html' %}

{% load static %}
{% load form_tags %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-md-3">
            <div class="card profile-card d-sm-block mb-5" style="box-shadow: 1px 1px 7px rgba(58, 58, 58, 0.2);">
                <div class="card-header text-center">
                    {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" class="rounded-circle img-avatar-cover" alt="User Avatar"
                        width="150">
                    {% else %}
                    <img src="{% static 'images/default-avatar.svg' %}" class="rounded-circle img-def-avatar"
                        alt="Default Avatar" width="140">
                    {% endif %}
                </div>
                <div class="card-body profile-body">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <hr>
                    {% if user.profile.birth_date %}
                    <p><strong>Birth Date:</strong> {{ user.profile.birth_date }}</p>
                    {% else %}
                    <p><strong>Birth Date:</strong> Not provided</p>
                    {% endif %}
                    <hr>
                    {% if user.profile.location %}
                    <p><strong>Location:</strong> {{ user.profile.location }}</p>
                    {% else %}
                    <p><strong>Location:</strong> Not provided</p>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'accounts:edit_profile' %}" class="btn btn-url-edit">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card mb-2 profile-conatiner-mobile">
                <div class="card-header header-profile">
                    <h5 class="h2-profile">Favorite Movies</h5>
                </div>
                <div class="card-body" style="box-shadow: 1px 1px 7px rgba(58, 58, 58, 0.2);">
                    {% if favorite_movies %}
                    <ul class="list-unstyled ul-profile">
                        {% for movie in favorite_movies %}
                        <li class="media mb-3 content-favourites">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1 h5-profile">{{ movie.title }} ({{ movie.year }})</h5>
                            </div>
                            <a href="{{ movie.movie_url }}" target="_blank">
                                <img src="{{ movie.poster }}" alt="{{ movie.title }}"
                                    class="mr-3 img-thumbnail poster-movie-profile">
                            </a>
                            <div class="movie-profile-info">
                                <p><strong>Genre:</strong> {{ movie.genre }}</p>
                                <p><strong>Actors:</strong> {{ movie.actors }}</p>
                                <p><strong>Plot:</strong> {{ movie.plot }}</p>
                            </div>
                            <p class="profile-rating"> <i class="fa fa-star" style="color: #FFD700; text-shadow:
                                     -0.7px -0.7px 0.7px #656565,
                                      0.7px -0.7px 0.7px #656565,
                                      -0.7px  0.7px 0.7px #656565,
                                       0.7px  0.7px 0.7px #656565;"></i> {{ movie.imdb_rating }}</p>
                            <hr class="hr-profile">
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No favorite movies added yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}