{% extends 'base.html' %}

{% load static %}
{% load form_tags %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-md-3">
            <div class="card profile-card mb-4">
                <div class="card-header text-center">
                    {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" class="rounded-circle" alt="User Avatar" width="150">
                    {% else %}
                    <img src="{% static 'images/default-avatar.png' %}" class="rounded-circle img-def-avatar" alt="Default Avatar"
                        width="150">
                    {% endif %}
                </div>
                <div class="card-body profile-body">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <hr>
                    {% if user.profile.birth_date %}
                    <p><strong>Birth Date:</strong> {{ user.profile.birth_date }}</p>
                    {% else %}
                    <p><strong>Birth Date:</strong> Not provided</p>
                    {% endif %}
                    <hr>
                    {% if user.profile.location %}
                    <p><strong>Location:</strong> {{ user.profile.location }}</p>
                    {% else %}
                    <p><strong>Location:</strong> Not provided</p>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'accounts:edit_profile' %}" class="btn btn-url-edit">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Favorite Movies</h5>
                </div>
                <div class="card-body">
                    {% if favorite_movies %}
                        <ul class="list-unstyled">
                            {% for movie in favorite_movies %}
                                <li class="media mb-3">
                                    <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="mr-3" width="64">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">{{ movie.title }} ({{ movie.year }})</h5>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No favorite movies added yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}